@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using TypedSignalR.Client
@using global::Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override async Task OnInitializedAsync()
    {
        var url = new Uri(new Uri("http://localhost:5100"), TestHubConfig.Route);
        
        var hubConnection = new HubConnectionBuilder()
            .WithUrl(url, options =>
            {
                options.AccessTokenProvider = () =>
                {
                    // faked here, normally msal jwt
                    return Task.FromResult((string?) "abcd1234");
                };
            })
            .WithAutomaticReconnect()
            .Build();
        
        await hubConnection.StartAsync();
        try
        {
            var hub = hubConnection.CreateHubProxy<ITestHub>(); // Exception thrown here
            
            // I'm aware this class does not implement the interface, but we won't reach this point in the program,
            // so I ignored that issue for this demonstration
            var subscription = hubConnection.Register(this); 
            await hub.SendMessage(new TestMessage
            {
                Message = "foo",
                Sender = "bar"
            });
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}